<div class="container">
  <p>User Page</p>
<nav class="navbar navbar-expand navbar-dark bg-dark">
<ul class="navbar-nav mr-auto" routerLinkActive="active">
<li class="nav-item">
  <a href="/subscribebook" class="nav-link" routerLink="subscribebook">Subscribe Book </a>
</li>
<li class="nav-item">
  <a href="/subscriberdetails" class="nav-link" routerLink="subscriberdetails">Subscriber Details </a>
</li>
<li class="nav-item">
  <a href="/unsubscribebook" class="nav-link" routerLink="unsubscribebook">UnSubscribe Book </a>
</li>
</ul>
</nav>
</div>
