<div class="col-md-12">
    <div class="card card-container" *ngIf="!isSearchSuccess">
      <h3>Subscription Details</h3>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSearch()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <button class="btn btn-primary btn-block">Get Subscription Details</button>
      </div>
      
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isSearchFailed"
        >
           failed to get details: {{ errorMessage }}
        </div>
      </div>
    </form>
    </div>
    <div class="search-container" ng-app="Subsciptions App" ng-controller="Subsciptions controller" *ngIf="isSearchSuccess">
      <br>
      <h5>Books</h5>
        <div class="book-container">
            <div class="book-details-container"  (click)="onClick(book)"></div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Subscriber Id</th>
                    <th scope="col">Book Id</th>
                    <th scope="col">Subscriber Name</th>
                  </tr>
                </thead>
                <tbody *ngFor="let book of books">
                  <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.bookId}}</td>
                    <td>{{book.subscriberName}}</td>
                </tbody>
              </table>
            </div>
          </div>
  </div>
  