<div class="col-md-12">
    <div class="card card-container" *ngIf="!isSearchSuccess">
      <h3>Author books</h3>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSearch()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <button class="btn btn-primary btn-block">Get Author Books</button>
      </div>
      
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="isSearchFailed"
        >
           failed to get books: {{ errorMessage }}
        </div>
      </div>
    </form>
    </div>
    <div class="search-container" ng-app="Subsciptions App" ng-controller="Subsciptions controller" *ngIf="isSearchSuccess">
      <br>
      <h5>Books</h5>
        <div class="book-container">
            <div class="book-details-container"  (click)="onClick(book)"></div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">BookId</th>
                    <th scope="col">Title</th>
                    <th scope="col">Code</th>
                    <th scope="col">AuthorId</th>
                    <th scope="col">AuthorName</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Publisher</th>
                  </tr>
                </thead>
                <tbody *ngFor="let book of books">
                  <tr>
                    <td>{{book.bookId}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.code}}</td>
                    <td>{{book.authorId}}</td>
                    <td>{{book.authorName}}</td>
                    <td>{{book.price}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.publisher}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  </div>
  